.envrc
*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
/app/build
/llm/build
/llm/.cxx
keystore.properties
*.jks
*.keystore
node_modules/
gradle/gradle-daemon-jvm.properties
